* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

button:hover {
	cursor: pointer;
}

:focus {
  outline: none;
}

.displayNone{
  display: none;
}

.displayBlock{
  display: block;
}

.container {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(219,21,99,0.8);
  background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}

.wrap {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}

.title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-primary {
  color: rgba(219,21,99,0.8);
  border-color: rgba(219,21,99,0.8);
  margin: 10px;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(219,21,99,0.8);
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: rgba(219,21,99,0.8);
  border-color: rgba(219,21,99,0.8);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: rgba(219,21,99,0.8);
  border-color: rgba(219,21,99,0.8);
}

.btn-outline-primary:disabled {
  background-color: transparent;
  color: #6E6E6DFF;
  border-color: #6E6E6DFF;
}

.btn2 {
  border-radius: 25px;
}

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.validate-input {
  position: relative;
}

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 15px;
}

.input2 {
  display: block;
  width: 100%;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

input.input2 {
  height: 25px;
  border: none;
}

.input2:focus {
  outline: none;
}

input:-internal-autofill-selected {
  font-family: Poppins-Regular;
  background: none;
  background-color: white !important;
    color: white !important;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.react-bs-select-all {
  display: none;
}

.bg-c2 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('./images/bg-01.jpg');
}

.table-bordered {
  border-collapse: collapse;
  border: outset;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.sticky {
  width: 10vw;
  padding: 5px;
}
.thHide {
  width: 10vw;
  padding: 5px;
}

table td {
  border-bottom: thin solid;
  padding: 5px;
}

.react-bs-container-body {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .wrap {
    padding: 20px 20px 20px 20px;
  }

  .btn {
    height: 35px;
  }

  .displayGrid {
    display: grid;
  }

  .wrapperTable {
    position: relative;
  overflow: auto;
  white-space: nowrap;
  }

  .sticky {
    position: -webkit-sticky;
  position: sticky;
  background-color: white;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  left: 0px;
  }

  .thHide {
    width: 75px;
  min-width: 75px;
  max-width: 75px;
  left: 75px;
  }

  table th:nth-child(3) {
    width: 125px;
    min-width: 125px;
    padding-left: 25px;
}

table tr td:nth-child(1) {
  position: -webkit-sticky;
  position: sticky;
  width: 25px;
  min-width: 25px;
  max-width: 25px;
  left: 0px;
}

}